public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# react-native는 pnpm의 기본 설정으로 동작하지 않기 때문에 다음과 같은 dependency패턴은 root directory에 선언되도록 강제합니다.
public-hoist-pattern[]=*@react-native-community*
public-hoist-pattern[]=*@react-native/*